@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-one: black;
  --bg-two: white;

  --ac-one: crimson;
  --ac-two: aqua;

  --border-one: black;
  --border-two: white;

  --border-ac-one: crimson;
  --border-ac-one: aqua;

  --text-one: black;
  --text-two: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-two: black;

  --border-one: white;

  --text-one: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-one);
  background-color: var(--bg-two);
  transition: background-color 200ms linear;
}
