@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-one: #78b3ce;
  --bg-two: #f5f5dc;

  --ac-one: #f96e2a;
  --ac-two: #78b3ce;

  --border-one: #f96e2a;
  --border-two: #78b3ce;

  --text-one: black;
  --text-two: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark'] {
  --bg-one: #006a67;
  --bg-two: #1a1a1d;

  --ac-one: #006a67;
  --ac-two: #a0153e;

  --border-one: #006a67;
  --border-two: #ff204e;

  --text-one: white;
  --text-two: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-one);
  background-color: var(--bg-two);
  transition: background-color 200ms linear;
}

.text-shadow {
  text-shadow:
    1px 1px black,
    1px -1px black,
    -1px -1px black,
    -1px 1px black;
}
