@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-one: #78B3CE;
  --bg-two: #F5F5DC;

  --ac-one: #F96E2A;
  --ac-two: #78B3CE;

  --border-one: #F96E2A;
  --border-two: #78B3CE;

  --text-one: black;
  --text-two: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --bg-one: #006A67;
  --bg-two: #1A1A1D;

  --ac-one: #006A67;
  --ac-two: #A0153E;

  --border-one: #006A67;
  --border-two: #FF204E;

  --text-one: white;
  --text-two: white;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-one);
  background-color: var(--bg-two);
  transition: background-color 200ms linear;
}
